html {
    background: #FFF url(02.jpg) round 0 0 local;
}

* {
    color: white;
    font: 15px/30px arial;
}
input{
    filter:alpha(Opacity=80);-moz-opacity:0.7;opacity: 0.7;
    background-color: gray;
    border: none;
    outline:medium;
    border-radius:10px;
    border: none;
    text-align: center;
}
input:hover{
    filter:alpha(Opacity=80);-moz-opacity:0.7;opacity: 0.7;
    background-color: green;
    border: none;
    outline:medium;
    border-radius:10px;
    border: none;
    text-align: center;
}
.cell {
    width: 300px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    filter:alpha(Opacity=80);-moz-opacity:0.7;opacity: 0.7;
    border-radius:10px;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: green;
}

.sub {
    filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
    background-color:gray;
    border: none;
    border-radius:10px;
    outline:medium;
    color: white;
}
.sub2{
    background-color:transparent;
    border: none;
    outline:medium;
}
.sub2:hover{
    background-color:transparent;
    border: none;
    outline:medium;
    color: aqua;
}
tr,th{
    text-align: center;
}
